body {
  margin: 0;
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  font-weight: bolder;
  color: cadetblue;
  font-size: xx-large;
  background-color: darkslategray;
  background-size: auto;
  padding: 20px;
  margin: 0;
}

h2 {
  font-size: x-large;
}

p {
  font-size: large;
  text-align: center;
}

/* Header */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(177, 190, 185);
  padding: 20px 30px;
  font-size: large;
}

header img {
  width: 30px;
  height: 35px;
}

nav {
  display: flex;
  gap: 50px;
}

.buttone {
  border: 2px groove rgb(250, 21, 21);
  border-radius: 20px;
  padding: 10px 20px;
  background-color: darkgrey;
  cursor: pointer;
  font-weight: bold;
}

/* Sezioni */
.section-split {
  display: flex;
  height: 70vh;
}

.section-image {
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 360px;
}

.section-content {
  flex: 1;
  background: rgb(240, 234, 225);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.section-content h1 {
  margin-bottom: 20px;
}

/* Divisore */
.divider {
  padding: 20px;
  background-color: darkslategrey;
  text-align: center;
  color: white;
  font-size: 1.2em;
  font-style: oblique;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  font-size: large;
  height: 60%;
}

td,
th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 15px;
}
